/*GRAFICAS.HTML*/
.about-graficas{
    padding-top: 7%;

    h1{
        position: static;
    }
}

.container-galeria{
    .row{
        padding-top: 5%;

        @media only screen and (max-width: 480px){
            padding-top: 20%;
        }

        &:last-child{
            padding: 5% 0 10% 0;
        }

        .tipo-grafica{
            font-family: $typoWide;
            font-size: 1.5rem;
            border-bottom: 2px solid $colorPrim;
        }

        .item-galeria{
            transition: all 1s;

            &:hover{
                @include transform(scale(105%));
            }

            a{
                text-decoration: none;
                color: $colorPrim;

                picture{
                    width: 100% 
                }

                p{
                    font-size: 1.8rem;
                }
            }
        }
    }
}
/*FIN GRAFICAS.HTML*/