/*OBSERVACIONES.HTML*/

.observaciones {
  .obs-titulo {
    padding-top: 5%;

    @media only screen and (max-width: 480px){
        padding-top: 25%
    }

    h1 {
      font-size: 8rem;
      position: static;

      @media only screen and (max-width: 480px){
        font-size: 3rem;
      }
    }
  }

  .obs {
    margin: 7% 0;

    h2 {
      font-family: $typoWide;
      font-size: 2.5rem;
    }

    .img-primer-parr,
    .img-seg-parr {
      margin-top: 3%;
    }
  }

  section{
    &:nth-last-child(2){
        margin-bottom: 15%;
    }
}
}
/*FIN OBSERVACIONES.HTML*/
