/*Efecto hover links*/
%linkHover{
    display: inline-block;
    background: linear-gradient(to right, $colorAcento 50%, $colorSecu 50%);
    background-size: 205% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

/*Titulo header*/
%tituloHeader{
    font-family: $typoWide;
    font-size: 1.8em;
    width: 200px;
    text-align: right;
}

/*Títulos secciones (H1)*/
%h1Secciones{
    font-family: $typoWide;
    font-size: 10rem;
    position: absolute;
}

/*Links destacados*/
%linkDestacado{
    font-family: $typoWide;
    color: $colorPrim;
    font-size: 5rem;
    font-weight: 700;
    display: block;
    margin: 75px 0;
    text-decoration: none;
}