/*Estilos typo*/
$typo: (
    h1: 100rem,
    p: 2rem,
    peque: 1.5rem,
    fuente: $typoPrincipal,
    wide: $typoWide,
);

$espaciados: (
    margen: 7%,
    ancho: 100%,
    medio: 50%,
    cuarto: 25%,
    tercio: 30%,
);
    
    
    
